<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <script>
        setTimeout(function () {
            document.getElementById('frmCadastroAluno:lblMensagem').style.display = 'none';
        }, 3000);
    </script>
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form id="frmCadastroAluno">
            Cadastro de Professores<br/>
            <h:outputLabel>Nome: </h:outputLabel><h:inputText value="#{profController.professor.nmProfessor}"/><br/>
            <h:outputLabel>CPF: </h:outputLabel><h:inputText value="#{profController.professor.nrCpf}"/><br/>
            <h:outputLabel>E-Mail: </h:outputLabel><h:inputText value="#{profController.professor.nmEmail}"/><br/>
            <h:outputLabel>Telefone: </h:outputLabel><h:inputText value="#{profController.professor.nrTelefone}"/><br/>
            <h:commandButton value="Inserir Novo Professor"  actionListener="#{profController.inserirProfessor()}"  /><br/>
            <h:commandButton value="Modificar Dados"  actionListener="#{profController.atualizarProfessor()}"  /><br/>

            <h:outputLabel id="lblMensagem"  rendered="#{profController.alunoInserido}" style="color: red;" >
                <strong>#{profController.mensagem}</strong>
            </h:outputLabel><br/>
            <h:dataTable value="#{profController.professoresCadastrados}" var="alunoAtual" border="1" styleClass="order-table"  headerClass="order-table-header"  rowClasses="order-table-odd-row,order-table-even-row" >
                <h:column >
                    <f:facet name="header">Nome:</f:facet>
                    <h:commandLink value="#{alunoAtual.nmProfessor}" actionListener="#{profController.selecionarProfessor}" >
                        <f:param name="nrCpf" value="#{alunoAtual.nrCpf}"/>
                        <f:attribute name="numeroCpf" value="#{alunoAtual.nrCpf}" />
                    </h:commandLink>
                </h:column>
                <h:column >
                    <f:facet name="header">CPF: </f:facet>
                    <h:commandLink value="#{alunoAtual.nrCpf}" actionListener="#{profController.selecionarProfessor}" >
                        <f:param name="nrCpf" value="#{alunoAtual.nrCpf}"/>
                        <f:attribute name="numeroCpf" value="#{alunoAtual.nrCpf}" />
                    </h:commandLink>
                </h:column>
                <h:column >
                    <f:facet name="header">E-Mail: </f:facet>
                    <h:commandLink value="#{alunoAtual.nmEmail}" actionListener="#{profController.selecionarProfessor}" >
                        <f:param name="nrCpf" value="#{alunoAtual.nrCpf}"/>
                        <f:attribute name="numeroCpf" value="#{alunoAtual.nrCpf}" />
                    </h:commandLink>
                </h:column>
                <h:column >
                    <f:facet name="header">Telefone: </f:facet>
                    <h:commandLink value="#{alunoAtual.nrTelefone}" actionListener="#{profController.selecionarProfessor}" >
                        <f:param name="nrCpf" value="#{alunoAtual.nrCpf}"/>
                        <f:attribute name="numeroCpf" value="#{alunoAtual.nrCpf}" />
                    </h:commandLink>                    
                </h:column>
                <h:column >
                    <f:facet name="header">Excluir</f:facet>
                    <h:commandButton  actionListener="#{profController.excluirProfessor}" value="Excluir">
                        <f:attribute name="numeroCpf" value="#{alunoAtual.nrCpf}" />
                    </h:commandButton>
                </h:column>
                <h:column >
                    <f:facet name="header">Selecionar</f:facet>
                    <h:commandButton  actionListener="#{profController.selecionarProfessor}" value="Selecionar">
                        <f:attribute name="numeroCpf" value="#{alunoAtual.nrCpf}" />
                    </h:commandButton>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>

